<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container my-5">
      <h1>Users</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% users.forEach(function(user) { %}
            <tr>
              <td>{% user.name %}</td>
              <td>{% user.address %}</td>
              <td>{% user.phone %}</td>
              <td>
                <a href="/view/{% user._id %}" class="btn btn-secondary">View</a>
                <a href="/edit/{% user._id %}" class="btn btn-primary">Edit</a>
                <a href="/delete/{% user._id %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% }); %}
        </tbody>
      </table>
    </div>
  </body>
</html>
